* {
    margin: 0;
    padding: 0;
}
:root {
    --cyan-blue:#3169B4;
    --yellow:#FFCB05;
    --purple: #5F41B2;
    --lightGray: #f4f7fe;
    --darkGray: #2b3a4b;
    --richGray: #545D69;
    --richblack: #000819;
    --white: #ffffff;
    --fadeGray: #f3f5f7;
    --midgray: #ebeff2;
    --lightpurple: #dfe9ff;
    --fc-bg-event-color: #0000ff!important;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter';
}
.yellow{
    color: var(--yellow);
}
p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
   /* or 150% */
    color: #323232;
}
.product-cards h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
   /* or 144% */
    color: #3169B4;
}
body{
    font-family: 'Inter', sans-serif;
}

.main-inner{
    background: url(../img/main-bg.png);
    background-repeat: no-repeat, repeat;
    opacity: 0.4;
    width: 400px;
    height: 400px;
    position: absolute;
}
.logo {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-head{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.formtext {
    width: 781px;
}
#more {
    display: none;
}
header a {
    text-decoration: none;
}
.bg-custom-1 {
    background-color: #85144b;
}
.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
   /* identical to box height */
    color: #000000;
}
.nav-links {
    position: relative;
    top: -11px;
    cursor: pointer;
    cursor: pointer;
}
.card{
    border: 0 !important;
}
header a {
    color: #306082;
    text-decoration: none;
}
.product-list{
    width: 220px;
    height: 192px;
}
.product-cards .card{
    background: #FFFFFF;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1);
}
.product-cards h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
   /* identical to box height, or 239% */
    color: #323232;
}
.product-cards .card-body{
    justify-content: center;
    display: inline-grid;
}
.request-bg{
    position: relative;
}

.request-bg:after{
    position:absolute;
    content:'';
    height: 130px;
    background-color:#FFCB05;
    width:100%;
    top:50%;
    margin-top: -62px;
    z-index:-1 
}
.product-bags{
    position: relative;
}
.product-bags:after{
    position:absolute;
    content:'';
    height: 133px;
    background-color:#FFCB05;
    width:100%;
    top:50%;
    margin-top: -62px;
    z-index:-1 
}
.product-bags .card{
    background: #FFFFFF;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1);
}
.product-bags .card-body{
    justify-content: center;
    display: inline-grid;
}
.bg-right{
    background: #E4F0FF url("../img/bg-right.png") top right;
    background-repeat: no-repeat;
   /* Do not repeat the image */
}
.stroke-section h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
   /* or 131% */
    color: #323232;
}
.product-img{
    width: 179px !important;
    height: 234px !important;
}
.item-list h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 43px;
   /* identical to box height, or 239% */
    color: #323232;
}
.combine-product{
    background: url(../img/Vector\ \(47\).png);
    background-repeat: no-repeat;
}
.follow-us{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
   /* identical to box height */
    color: #323232;
}
.item-list .item-img{
    height: 50px;
    width: 50px;
}
.why-custom{
    position: relative;
    top: 21px;
}
.footer p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
   /* or 149% */
    color: #323232;
}
footer h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 62px;
   /* identical to box height, or 344% */
    color: #3169B4;
}
.bg-left{
    background:url("../img/Isolation\ Mode.png");
    background-repeat: no-repeat;
   /* Do not repeat the image */
    background-repeat: no-repeat;
}
footer .fa-twitter{
    color: #3169B4;
}
footer .social-icon{
    color: #3169B4;
}
.subscribe{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
   /* identical to box height, or 282% */
    color: #3169B4;
}
.footer-end{
    width: 100%;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
   /* identical to box height, or 388% */
    color: #FFFFFF;
    background: #3169B4;
}
.btn-success{
    color: #fff;
    background: #3169B4 !important;
    border: 1.5px solid #323232 !important;
    border-radius: 0px 25px 25px 0px !important;
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem !important;
}
.btn1:hover {
    background-image: linear-gradient(90deg, #fff 0%, #fff 100%);
    color: #028cd1;
    border: 1px solid #028cd1;
}
.stroke-text{
    -webkit-text-fill-color: white;
   /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3169B4;
    color: #3169B4;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3169B4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 62px;
}
.service {
    font-size: 126px;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
.dropdown-toggle::after {
    display: none !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: rgba(29, 59, 84, 1) !important;
}
/* .topnav {
    overflow: hidden;
    background-color:white;
    width: 100%;
}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px 12px 10px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: rgb(55, 49, 49);
    color: white;
    z-index: 2px;
}
.topnav a.active {
    background-color:black;
    ;
    color: white;
}
.topnav .icon {
    display: none;
}
.topnav a.icon {
    float: right;
    display: block;
    height: 50px;
}
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
a {
    color: #083f5f;
    text-decoration: none;
}
.text-sample{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
   /* identical to box height, or 131% */
    color: #323232;
}
.search {
    width: 100%;
    display: flex;
}
.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    outline: none;
    color: #9DBFAF;
}
.searchTerm:focus{
    background: #FFFFFF;
    border-radius: 25px;
}
.searchButton {
    width: 40px;
    height: 36px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    background: #3169B4;
    border: 1.5px solid #323232;
    border-radius: 0px 25px 25px 0px;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 100%;
    top: 50%;
    left: 50%;
}
footer .fa-facebook{
   /* height: 25px;
    */
    background: var(--cyan-blue);
    width: 29px;
    border-radius: 50%;
    color: #E4F0FF;
    text-align: center;
    padding: 4px;
}
.request-button{
    width: 187px;
    height: 54px;
    left: 1082px;
    top: 1047px;
    border: 0 !important;
    color: white !important;
    background: #3169B4 !important;
    border-radius: 27.5px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
}
.product-bags h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
   /* identical to box height, or 125% */
    color: #323232;
}
.footer-ul{
    display: grid;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
   /* or 212% */
    padding-left: 0rem;
    color: #323232;
}
.input-box{
    background: #FFFFFF !important;
    border: 1.5px solid #323232 !important;
    border-radius: 25px !important;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.red{
    color: red;
}
footer {
   /* height: 419px;
    */
    color: black !important;
    background: #E4F0FF !important;
    line-height: 1.5;
}
li.items {
    padding: 0px 20px !important;
}
.items {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #1D3B54;
}
@media screen and (min-width: 807px) {
    #myTopnav {
        display: none;
   }
}
@media screen and (max-width: 807px) {
    header{
        display: none !important;
   }
    .topnav .img-fluid{
        height: 78px;
    width: 213px;
   }
    .product-cards .col-lg-4 {
        margin: 0px 0px 20px 0px 
   }
    footer .footer{
        display: block !important;
   }
    .item-list h6 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #323232;
   }
    .product-bags .col-lg-4{
        margin: 0px 0px 20px 0px 
   }
    .footer .col-4{
        margin:0px !important;
        text-align: center;
   }
    footer .bd-highlight{
        text-align: center;
   }
    .custom-mobile-row{
        padding-top: 0px !important ;
   }
      .topnav .items {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        color: #1D3B54;
        line-height: 37px;
    }
    .product-cards h4{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
       /* or 144% */
        color: #3169B4;
   }
    .navbar-toggler:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: 0rem !important;
   }
    .text-sample {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 42px;
        color: #323232;
   }
   .navbar-dark .navbar-nav .nav-link {
    color: black;
}
.topnav .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}
.topnav .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3169b4;
}
   .topnav .bg-primary{
    background: white !important;
   }
   .request-button {
    width: 107px;
    /* height: 43px; */
    left: 1082px;
    top: 1047px;
    border: 0 !important;
    color: white !important;
    background: #3169B4 !important;
    border-radius: 27.5px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 42px; */
}
    .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
        outline: none !important;
        box-shadow: none !important;
   }
    .topnav .offcanvas-body{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
       /* identical to box height */
        color: #000000;
   }
    .main-inner {
        display: none;
   }
}
