* {
    margin: 0;
    padding: 0;
}

:root {
    --cyan-blue: #3169B4;
    --yellow: #FFCB05;
    --purple: #5F41B2;
    --lightGray: #f4f7fe;
    --darkGray: #2b3a4b;
    --richGray: #545D69;
    --richblack: #000819;
    --white: #ffffff;
    --fadeGray: #f3f5f7;
    --midgray: #ebeff2;
    --lightpurple: #dfe9ff;
    --fc-bg-event-color: #0000ff !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter';
}

/* section{
    margin: 30px 0px 0px 0px;
} */
.yellow {
    color: var(--yellow);

}
.yellow.ship{
    font-size: 30px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: #323232;
}

.product-cards h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    /* or 144% */
    color: #3169B4;
}

.fixed-top {
    background: white;
    box-shadow: 0 4px 8px 0 rgb(255 255 255 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #1e2125;
    background-color: #d6e0ed !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #1e2125;
    text-decoration: none;
    background-color: #d6e0ed !important;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 1.125rem;
    background: white;
    box-shadow: 0 4px 8px 0 rgb(231 217 217 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.product-cards {
    margin-top: 150px;
}

.main-inner {
    background: url(../img/main-bg.png);
    background-repeat: no-repeat, repeat;
    opacity: 0.4;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 104px !important;
}

.logo {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-head {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.formtext {
    width: 781px;
}

#more {
    display: none;
}

header a {
    text-decoration: none;
}

.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    padding-right: 10px;
}

.nav-links {
    position: relative;
    top: -11px;
    cursor: pointer;
    cursor: pointer;
}

.card {
    border: 0 !important;
}

header a {
    color: #306082;
    text-decoration: none;
}

.product-list {
    width: 220px;
    height: 192px;
}

.product-cards .card {
    background: #FFFFFF;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1);
}

.product-cards h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* identical to box height, or 239% */
    color: #323232;
}

.product-cards .card-body {
    justify-content: center;
    display: inline-grid;
}

.request-bg {
    position: relative;
}

.request-bg:after {
    position: absolute;
    content: '';
    height: 130px;
    background-color: #FFCB05;
    width: 100%;
    top: 50%;
    margin-top: -62px;
    z-index: -1
}

.product-bags {
    position: relative;
}

.product-bags:after {
    position: absolute;
    content: '';
    height: 133px;
    background-color: #FFCB05;
    width: 100%;
    top: 50%;
    margin-top: -62px;
    z-index: -1
}

.product-bags .card {
    background: #FFFFFF;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1);
}

.product-bags .card-body {
    justify-content: center;
    display: inline-grid;
}

.bg-right {
    background: #E4F0FF url("../img/bg-right.png") top right;
    background-repeat: no-repeat;
    /* Do not repeat the image */
}

.stroke-section h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* or 131% */
    color: #323232;
}

.product-img {
    width: 179px !important;
    height: 234px !important;
}

.item-list h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 43px;
    /* identical to box height, or 239% */
    color: #323232;
}

.combine-product {
    background: url(../img/Vector\ \(47\).png);
    background-repeat: no-repeat;
}

.follow-us {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #323232;
}

.item-list .item-img {
    height: 50px;
    width: 50px;
}

.why-custom {
    position: relative;
    top: 21px;
}

.footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 149% */
    color: #323232;
}

footer h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 62px;
    /* identical to box height, or 344% */
    color: #3169B4;
}

.bg-left {
    background: url("../img/Isolation\ Mode.png");
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-repeat: no-repeat;
}

footer .fa-twitter {
    color: #3169B4;
}

footer .social-icon {
    color: #3169B4;
}

.subscribe {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    /* identical to box height, or 282% */
    color: #3169B4;
}

.footer-end {
    width: 100%;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* identical to box height, or 388% */
    color: #FFFFFF;
    background: #3169B4;
}

.btn-success {
    color: #fff;
    background: #3169B4 !important;
    border: 1.5px solid #323232 !important;
    border-radius: 0px 25px 25px 0px !important;
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem !important;
}

.btn1:hover {
    background-image: linear-gradient(90deg, #fff 0%, #fff 100%);
    color: #028cd1;
    border: 1px solid #028cd1;
}

.stroke-text {
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3169B4;
    color: #3169B4;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3169B4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 62px;
}

.service {
    font-size: 126px;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: rgba(29, 59, 84, 1) !important;
}

/* .topnav {
    overflow: hidden;
    background-color:white;
    width: 100%;
}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px 12px 10px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: rgb(55, 49, 49);
    color: white;
    z-index: 2px;
}
.topnav a.active {
    background-color:black;
    ;
    color: white;
}
.topnav .icon {
    display: none;
}
.topnav a.icon {
    float: right;
    display: block;
    height: 50px;
}
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    color: #083f5f;
    text-decoration: none;
}

.text-sample {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height, or 131% */
    color: #323232;
}

.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    background: #FFFFFF;
    border-radius: 25px;
}

.searchButton {
    width: 40px;
    height: 36px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    background: #3169B4;
    border: 1.5px solid #323232;
    border-radius: 0px 25px 25px 0px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 100%;
    top: 50%;
    left: 50%;
}

footer .fa-facebook {
    /* height: 25px;
    */
    background: var(--cyan-blue);
    width: 29px;
    border-radius: 50%;
    color: #E4F0FF;
    text-align: center;
    padding: 4px;
}

.request-button {
    width: 187px;
    height: 54px;
    left: 1082px;
    top: 1047px;
    border: 0 !important;
    color: white !important;
    background: #3169B4 !important;
    border-radius: 27.5px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
}

.product-bags h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    color: #323232;
}

.footer-ul {
    display: grid;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    /* or 212% */
    padding-left: 0rem;
    color: #323232;
}

.input-box {
    background: #FFFFFF !important;
    border: 1.5px solid #323232 !important;
    border-radius: 25px !important;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.red {
    color: red;
}

footer {
    /* height: 419px;
    */
    color: black !important;
    background: #E4F0FF !important;
    line-height: 1.5;
}

li.items {
    padding: 0px 15px !important;
}

.items {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #1D3B54;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 1.125rem;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 14rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

@media screen and (min-width: 807px) {
    #myTopnav {
        display: none;
    }
}

@media screen and (max-width: 807px) {
    header {
        display: none !important;
    }
    header .navbar{
        margin-right: -30px !important;
    }
    .product-page .right-inner {
        display: none !important;
    }

    .product-page .accordian-side-btn .d-flex {
        display: flex;
        justify-content: right;
    }

    .product-cards {
        margin-top: 40px;
    }

    .topnav .img-fluid {
        height: 78px;
        width: 213px;
    }

    .product-cards .col-lg-4 {
        margin: 0px 0px 20px 0px
    }

    footer .footer {
        display: block !important;
    }
    footer .me-2{
        width: 100% !important;
    }

    .item-list h6 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #323232;
    }

    .product-bags .col-lg-4 {
        margin: 0px 0px 20px 0px
    }

    .footer .col-4 {
        margin: 0px !important;
        text-align: center;
    }

    footer .bd-highlight {
        text-align: center;
    }

    .product-page .view-text {
        padding: 2px 2px !important;

    }

    .product-page .product-button1 {
        background: #D9D9D9;
        border-radius: 5px solid transparent;
        margin: 0px -42px;
    }

    .product-page .product-button {
        max-width: ;
    }

    .custom-mobile-row {
        padding-top: 0px !important;
    }

    .product-page .accordion-body .container {
        padding: 0px !important;
        display: flex;
        justify-content: center;
    }

    .product-page .wrapper-partitions .accordion-body,
    {
    padding: 0px !important;
    display: flex;
    justify-content: center;
}

.product-page .wrapper .img-fluid,
.wrapper-partitions .img-fluid {
    max-height: 111px;
    min-height: 91px;
}

.product-page .wrapper dl,
dt,
ol,
ul {
    margin: 0px -1px 0px 0px !important;
    font-family: 'Inter';
    font-style: normal;

    font-weight: 400;
    font-size: 13px;
    padding: 0px !important;
}

.topnav .items {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #1D3B54;
    line-height: 37px;
}

.product-cards h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    /* or 144% */
    color: #3169B4;
}

.navbar-toggler:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: 0rem !important;
}

.text-sample {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 42px;
    color: #323232;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.topnav .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

.topnav .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3169b4;
}

.topnav .bg-primary {
    background: white !important;
}

.request-button {
    width: 187px;
    /* height: 43px; */
    left: 1082px;
    top: 1047px;
    border: 0 !important;
    color: white !important;
    background: #3169B4 !important;
    border-radius: 27.5px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 42px; */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.topnav .offcanvas-body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
}

.main-inner {
    display: none;
}
.cart-icon{
    font-size: 18px;
}
}

/*  --start---- */
.product-page .main-inner {
    background: url(../img/Frame-29.png);
    background-repeat: no-repeat, repeat;
    opacity: 14.4;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 104px !important;
    z-index: -13;

}

.product-page .right-inner {
    background: url(../img/Frame-30.png);
    /* background-repeat: no-repeat, repeat; */
    /* opacity: 0.4; */
    width: 541px;
    height: 400px;
    position: absolute;
    top: 104px !important;
    right: 0px !important;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right;
    z-index: -16;
}

.product-page .gallon-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height, or 144% */
    color: #3169B4;
}

.product-page .product-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */
    color: #323232;
}


.product-page .stroke-section h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 42px;
    /* identical to box height, or 233% */
    color: #323232;
}

.product-page .product-button {

    /* width: 232px; */
    /* height: 54px; */
    left: 775px;
    top: 550px;
    background: #3169B4;
    border-radius: 27.5px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.product-page .wrapper h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 42px;

    color: #323232;

}

.product-page .wrapper th {
    padding: 0 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;

    /* identical to box height, or 300% */


    color: #323232;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../img/icons8-down-arrow-32.png") !important;
    transform: rotate(0deg);
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button::after {

    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";


}

.product-page .wrapper dl,
dt,
ol,
ul {
    margin: 0px -1px 0px 0px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;



}

.product-page .wrapper dd {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px;




}

.product-page .accordion-item .accordion-button.collapsed:hover {

    color: white;
    background-color:
        #3169B4;
}

.filter .accordion-item .accordion-button.collapsed:hover {
    color: white;

    background-color: #FFCB05 !important;
}

.product-page .filter-accordian:hover {

    background-color: #FFCB05 !important;
}

.product-page .wrapper .stock-text {
    color:
        #3169B4 !important;
}

.table-data {
    display: inline-flex;
    align-items: center;
}

.table-data:focus {
    color: #92a9cd !important;
}


.accordion-button:not(.collapsed) {

    background-color: rgba(228, 240, 255, 0.7);
    border: 0px !important;
}

.accordion-button {
    background: rgba(228, 240, 255, 0.7);
}


.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #3169B4 !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    border: 0px !important;
}

.col-md-3 .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #FFCB05 !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    border: 0px !important;
}

.col-md-3 .accordion-button {
    background: rgba(255, 242, 221, 0.7) !important
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
}

.accordion-button:focus {
    z-index: unset !important;
    border-color: 0 !important;
    outline: 0;
    box-shadow: 0 0 0 0 !important;
}

.view-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */

    text-decoration-line: underline;

    color: #3169B4;

}

.product-page .product-button1 {
    background: #D9D9D9;
    border-radius: 5px solid transparent;

}
.product-cards .row .card-body .offers-headding{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #323232;
}
.product-cards .row .card.we-offers{
    border: 0.5px solid #3169B4 !important;
}
/*  */

@media screen and  (max-width: 1200px) {
    header .navbar{
        margin-right: -60px !important;
    }

    .d-md-block{
        display: none !important;
    }
    .accordion-body .container .col-md-8.col-12{
        margin-left: -45px !important;
    }
    #sort_customizable_table{
            width: 186% !important;
    margin-left: -12px;
    }
    #sort_customizable_table .wdr_bulk_table_td.wdr_bulk_table_discount.col_index_3{
        padding-left:  0px;
    }
}
.order-2 p{
    margin-bottom: 0px !important;
}